/* ============================ */
/* STYLES PRINCIPAUX DE LA PAGE */
/* ============================ */

/* ---------------------------- */
/*         Page entière         */
/* ---------------------------- */

body {
    font-family: "Raleway", sans-serif;
    /* width: 1440px; */
    margin: auto;
}

h1, h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
} 


/* ---------------------------- */
/*        Listes et liens       */
/* ---------------------------- */

li{
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/* ---------------------------- */
/*     Gestion des couleurs     */
/* ---------------------------- */

.blue, .fas {
    color: #0065FC;
}

.light_blue {
    color: #DEEBFF;
}

.gray {
    color: #C4C2BC;
}

.background_gray {
    color: #F2F2F2;
}

.black {
    color: #000000;
}



/* ============================ */
/*           HEADER             */
/* ============================ */

#header {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header ul {
    display: flex;
}

#header li {
    padding-top: 30px;
    padding-left: 70px;
    font-size: 1.1rem;
}

#header li.accomodations {
    border-top: 2px solid #0065FC;
    padding: 28px 15px 0px 20px;
}

.header_text div {
    margin-left: 70px;
    padding-top: 30px;
}

/* ============================ */
/*        CORPS DE PAGE         */
/* ============================ */

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

#search {
    width: 90%;
    margin: 30px auto 0px auto;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    margin-top: 5px;
}

form {
    margin-top: 30px;
}

#form {
    display: inline-block;
    height: 50px;
    /* min-width: 405px;  */
}

#form i {
    display: inline-block;    
    padding: 17px;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#form input {
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 15px;
    color: black;
    font-weight: bold;
    border: none;
}

input::placeholder {
    color: black;
    opacity: 1;        
    font-size: 1.1rem;
}

#form button {
    display: inline-block;
    padding: 14px;
    background-color:#0065FC;
    color: #FFFFFF;        
    font-size: 1.1rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

#form i.show_mobile {
    display: none;
}


#filters {
    margin: 32px 0px 35px 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#filters p {
    font-size: 1.1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    height: 50px;
}

.filter i {
    background-color: #DEEBFF;
    border-radius: 50px;
    position: relative;
    left: -2px;
    padding: 18px;
}

.filter i.fa-money-bill-wave {
    padding: 18px 17px;
}

.filter i.fa-child {
    padding: 18px 20px;
}

.filter p {
    padding: 15px 20px 15px 15px;
}

.filter:hover {
    background-color: #9CC0F7;
    cursor: pointer;
}


.info {
    margin: 0px 0px 30px 10px;
    display: flex;
    align-items: baseline;
}

.info i {
    border: 1px solid gray;
    padding: 4px 9px;
    border-radius: 50px;
}

.info p {
    margin: 0px 0px 0px 10px;
    padding: 0px;    
    font-weight: 400;
}

/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

#accomodations {
    width: 90%;
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: space-between;
}

#accomodations .container {
    background-color:#F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

header h2 {
    margin-bottom: 0px;
    padding: 20px 0px 10px 40px;
}

#accomodations article.container {
    width: 66%;    
}

div.city_accomodations {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.accomodation_card {
    height: 200px;
    width: 31%;
    padding: 5px;
    margin: 15px 0px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;    
}

.accomodation_card > a {
    width: 100%;
}

div.accomodation_card article {
    width: 100%;
}

div.accomodation_card img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

div.description_bottom {
    margin: 0px;
    padding: 5px 0px 5px 10px;
    height: 70px;
}

.description_bottom h3, p {
    margin: 0px;
    padding: 0px;
    line-height: 0.9rem;
}

.description_bottom p {
    font-size: 0.8rem;
}

footer p {
    padding: 35px 0px 35px 40px;
    font-weight: bold;
}


#accomodations aside {
    width: 31%;
}

aside header {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

p.trend {
    padding-right: 40px;
    font-size: 1.3rem;
}

div.popular_accomodations {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.popular_card {
    margin: 15px 0px 16px 0px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    width: 82%;
}

div.popular_card:last-child {
    margin-bottom: 40px;
}

div.popular_card article {
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
}

div.popular_card img {
    width: 128px;
    height: 135px;
    padding: 8px 0px 5px 5px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

div.description_aside {
    width: 200px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 15px;
    line-height: 1rem;
}

.top_side h3, p {
    margin: 0px;
    padding-top: 10px;
    line-height: 0.9rem;
}

.top_side p {
    font-size: 0.8rem;
}

.bottom_side > p {
    font-size: 0.8rem;
    padding-bottom: 10px;
}



/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

#activities {
    width: 90%;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
}

#activities header {
    margin-bottom: 20px;
}

#activities header > h2 {
    padding-left: 0px;
}

.activities {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div[class*="column"] {
    width: 23%;
}

.column_2_desktop, .column_4_desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity_card > a {
    width: 100%;
}

.activity_card figure {
    border-radius: 15px;
    box-shadow: 0px 1px 1px gray;
    width: 100%;
    max-width: 300px;
    margin: 0px;
}

figure.portrait {
    height: 445px;
}

#activities img {
    width: 100%;
    border-radius: 15px 15px 0px 0px; 
    object-fit: cover;
}

figure.portrait img {
    height: 400px;
}

figure.pomegues img {
    height: 195px;
}

figure.frioul img {
    height: 123px;
    object-position: top;
}

figure.ndgarde img {
    height: 152px;
    object-position: top;
}

figure.longchamp img {
    height: 168px;
    object-position: top;
}

.activity_card figcaption {
    font-weight: bold;
    padding: 10px 0px 10px 10px;
}


/* ============================ */
/*           FOOTER             */
/* ============================ */
#footer {
    display: flex;
    justify-content: space-around;
    background-color:#F2F2F2;
    margin-top: 50px;
}

#footer div:first-child {
    margin-left: 70px;
}

#footer div {
    width: 33%;
    margin: 30px auto 30px 0px; 
}

h4 {
    margin: 20px 0px;
}

#footer ul {
    padding-left: 0px;
}

#footer li {
    margin-bottom: 10px;
}


/* ============================================================================== */
/*                             RESPONSIVE DESIGN                                  */
/* ============================================================================== */

/* ------------------------------------------------------------------------------ */
/*                               Grands écrans                                    */
/* ------------------------------------------------------------------------------ */
@media all and (min-width: 1441px) and (max-width: 2560px) {

/* ---------------------------- */
/*         Page entière         */
/* ---------------------------- */

    h1, h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.1rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: 1.2rem;
    } 

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

    #header li {
        padding-left: 90px;
        font-size: 1.3rem;
    }

    .header_text div {
        margin-left: 90px;
        font-size: 1.3rem;
    }

    #form i {
        font-size: 1.1rem;
    }

    input::placeholder {        
        font-size: 1.2rem;
    }
    
    #form button {       
        font-size: 1.2rem;
    }

    header h2 {
        padding: 20px 0px 10px 45px;
    }

    footer p {
        padding: 35px 0px 35px 45px;
        font-weight: bold;
    }

/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

    p.trend {
        padding-right: 45px;
    }

    img.cannebiere {
        object-position: 75% 20%;
    }

    img.port {
        object-position: 75% 60%;
    }

    img.mouettes {
        object-position: 90% 100%;
    }

    img.mer {
        object-position: 60% 65%;
    }

    img.panier {
        object-position: 50% 50%;
    }

    img.amina {
        object-position: 30% 55%;
    }
    
/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

    #activities {
        margin: 30px auto;
    }

    .activities {
        justify-content: space-between;
    }

    .activity_card figure {
        max-width: 525px;
    }

    figure.portrait {
        height: auto;
        box-shadow: 0px 1px 1px gray;
    }
    
    #activities img {
        width: 100%;
        border-radius: 15px 15px 0px 0px; 
        object-fit: cover;
    }
    
    figure.portrait img {
        height: 600px;
    }
    
    figure.pomegues {
        margin-bottom: 50px;
    }

    figure.pomegues img {
        height: 275px;
    }
    
    figure.frioul img {
        height: 203px;
        object-position: top;
    }
    
    figure.ndgarde img {
        height: 232px;
        object-position: top;
    }
    
    figure.longchamp img {
        height: 248px;
        object-position: top;
    }

/* ============================ */
/*           FOOTER             */
/* ============================ */

    #footer {
        margin-top: 100px;
    }

    #footer div:first-child {
        margin-left: 130px;
    }
}

/* ------------------------------------------------------------------------------ */
/*                                 Ordinateurs                                    */
/* ------------------------------------------------------------------------------ */
@media screen and (max-width: 1199px) {

/* ---------------------------- */
/*         Page entière         */
/* ---------------------------- */

    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.6rem;
    } 

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

    #header a {
        font-size: 1rem;
    }

    header p {
        font-size: 0.8rem;
    }

    #form i {
        font-size: 0.9rem;
    }

    input::placeholder {        
        font-size: 0.9rem;
    }

    #form button {        
        font-size: 0.9rem;
    }

    #filters p {
        font-size: 0.8rem;
    }

    .info i, .info p {
        font-size: 0.8rem;
    }

    .info i {
        padding: 4px 8px;
    }

/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

    header h2 {
        padding: 20px 0px 10px 30px;
    }

    .description_bottom p {
        font-size: 0.7rem;
    } 

    footer p {
        padding: 25px 0px 35px 30px;
        font-size: 0.9rem;
    }

    p.trend {
        padding-right: 30px;
        font-size: 1rem;
    }

    div.popular_card {
        width: 85%;
    }

    div.popular_card article {
        height: 135px;
    }

    div.popular_card img {
        width: 108px;
        height: 115px;
    }

    div.description_aside {
        height: 115px;
        padding-left: 10px;
    }

    .top_side h3 {
        padding-top: 5px;
    }
    
    .top_side p {
        padding-top: 10px;
        font-size: 0.7rem;
    }
    
    .bottom_side > p {
        font-size: 0.7rem;
        padding-bottom: 5px;
    }

/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

    #activities {
        margin-top: 20px;
    }

    figure.portrait img {
        height: 408px;
    }    

    figure.port img {
        object-position: 55% 40%;
    }

    .activity_card figcaption {
        font-size: 0.7rem;
    }

/* ============================ */
/*           FOOTER             */
/* ============================ */

    #footer li {
        font-size: 0.8rem;;
    }

}

/* ------------------------------------------------------------------------------ */
/*                                 Tablettes                                      */
/* ------------------------------------------------------------------------------ */
@media screen and (max-width: 991px) {
    
    body {
        width: auto;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.0rem;
    }

    p {
        font-size: 0.8rem;
    } 

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

    #filters {
        margin-bottom: 20px;
    }

    #filters p:first-child {
        margin-bottom: 15px;
    }

    .filter {
        margin-bottom: 15px;
    }

/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

    #accomodations {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column-reverse;
    }

    #accomodations .container {
        margin-top: 20px;
    }

    #accomodations h2 {
        padding-left: 45px;
    }

    #accomodations article.container {
        width: 100%;        
        background-color:#FFFFFF;    
    }

    div.city_accomodations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    div.accomodation_card {
        height: 300px;
        width: 99%;
        margin: 10px 0px;
    }

    div.accomodation_card img {
        height: 220px;
    }

    img.cannebiere {
        object-position: 75% 50%;
    }

    img.port {
        object-position: 75% 70%;
    }

    img.mouettes {
        object-position: 90% 100%;
    }

    img.mer {
        object-position: 60% 60%;
    }

    img.panier {
        object-position: 50% 55%;
    }

    img.amina {
        object-position: 30% 55%;
    }

    div.description_bottom {
        margin: 0px;
        padding: 5px 0px 5px 10px;
        height: 70px;
    }

    .description_bottom h3, .description_bottom p {
        margin: 0px 0px 5px 0px;
        padding: 0px;
        line-height: 1rem;
    }

    footer p {
        padding: 30px 0px 30px 45px;
    }


    #accomodations aside {
        width: 100%;
    }

    p.trend {
        padding-right: 45px;
    }

    div.popular_accomodations {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    div.popular_card {
        margin: 15px 0px 16px 0px;
        width: 99%;
    }

    div.popular_card article {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
    }

    div.popular_card img {
        width: 203px;
        height: 210px;
    }

    div.description_aside {
        width: 240px;
        height: 175px;
        padding-left: 20px;
    }

    .top_side h3, p {
        line-height: 1rem;
    }

    .top_side p {
        margin-top: 10px;
    }

/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

    #activities {
        margin-top: 0px;
    }

    .activity_card figcaption {
        font-size: 0.6rem;
    }

}

/* ------------------------------------------------------------------------------ */
/*                             Très petits écrans                                 */
/* ------------------------------------------------------------------------------ */
@media screen and (max-width:767px) {
    body {
        width: auto;
    }

/* ============================ */
/*           HEADER             */
/* ============================ */

    #header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }

    #header div:first-child {
        position: relative;
        top: 15px;
        margin-left: 15px;
    }

    .header_text {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .header_text nav {
        width: 100%;
    }

    .header_text ul {
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }

    #header li {
        width: 50%;
        text-align: center;
    }

    #header li.accomodations {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
    }

    #header li.activities {
        border-bottom: 3px solid #C4C2BC;
        padding: 28px 15px 15px 20px;
    }

    .header_text div {
        position: absolute;
        top: 0px;
        right: 15px;
    }

/* ============================ */
/*        CORPS DE PAGE         */
/* ============================ */

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

    #search {
        width: 95vw;
        min-width: 330px;
        margin: auto;
    }

    #search header {
        margin: 0px 10px;
    }

    header p {
        margin-top: 10px;
    }

    #form {
        min-width: 320px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #form input {
        display: inline-block;
        min-width: 180px;
    }

    #form .show_desktop {
        display: none;
    }

    #form i.show_mobile {
        display: inline-block;
        color: #FFFFFF;
        background-color:#0065FC;
        font-size: 1rem;
        padding: 0px 1px;
    }

    #form button {
        border-radius: 15px;
    }    

    #filters {
        margin: 10px auto 20px auto;
    }

    #filters p:first-child {
        margin-bottom: 15px;
    }

    .filter {
        margin-bottom: 15px;
    }

    .info {
        margin: 10px;
    }

/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

    #activities {
        width: 90%;
        margin: auto;
    }

    #activities header {
        margin-bottom: 10px;
    }

    #activities h2 {
        margin: 0px;
        padding-bottom: 10px;
    }

    .activities {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div[class*="column"] {
        width: 100%;
    }

    .activity_card {
        height: 350px;
        width: 99%;
        margin: 0px;
    }

    .activity_card figure {
        width: 100%;
        max-width: 767px;
        height: 330px;
    }

    figure.port img {
        height: 290px;
        object-position: 0% 25%;
    }

    figure.pomegues img {
        height: 290px;
        object-position: 0% 45%;
    }

    figure.frioul img {
        height: 290px;
        object-position: 0% 25%;
    }

    figure.calanques img {
        height: 290px;
        object-position: 0% 21%;
    }

    figure.ndgarde img {
        height: 290px;
        object-position: 0% 20%;
    }

    figure.longchamp img {
        height: 290px;
        object-position: 0% 30%;
    }

    .activity_card figcaption {
        font-size: 0.8rem;
    }

/* ============================ */
/*           FOOTER             */
/* ============================ */

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color:#F2F2F2;
        margin-top: 30px;
    }

    #footer div:first-child {
        margin-top: 20px;
        margin-left: 45px;
    }

    #footer div {
        width: auto;
        margin: 20px 0px 0px 45px; 
    }

    #footer div:last-child {
        margin-bottom: 20px;
    }

}

/* ------------------------------------------------------------------------------ */
/*                             Très petits écrans                                 */
/* ------------------------------------------------------------------------------ */

@media screen and (max-width: 376px) {

    body {
        min-width: 330px;
    }

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

    #search {
        width: 95vw;
        margin: 30px auto 0px auto;
    }

    #search form {
        margin: 10px 10px 10px 10px;
    }

    #form {
        min-width: 300px;
    }

    #form i.show_mobile {
        padding: 0px 2px;
    }

    #filters p:first-child {
        margin-left: 15px;
    }
    
    .filter {
        margin-left: 20px;
    }



/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

    #accomodations h2 {
        padding-left: 25px;
    }

    div.accomodation_card {
        height: 220px;
    }

    div.accomodation_card img {
        height: 135px;
    }

    img.cannebiere {
        object-position: 75% 50%;
    }

    img.port {
        object-position: 75% 60%;
    }

    img.mouettes {
        object-position: 90% 100%;
    }

    img.mer {
        object-position: 60% 51%;
    }

    img.panier {
        object-position: 50% 50%;
    }

    img.amina {
        object-position: 30% 51%;
    }

    footer p {
        padding-left: 25px;
    }

    p.trend {
        padding-right: 25px;
    }

    div.popular_card article {
        height: 185px;
    }

    div.popular_card img {
        width: 168px;
        height: 175px;
    }

    div.description_aside {
        width: 240px;
        height: 175px;
    }

/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */

    .activity_card {
        height: 180px;
        margin-bottom: 15px;
    }

    .activity_card figure {
        max-width: 400px;
        height: 180px;
    }

    figure.port img {
        height: 135px;
        object-position: 0% 25%;
    }

    figure.pomegues img {
        height: 135px;
        object-position: 0% 45%;
    }

    figure.frioul img {
        height: 135px;
        object-position: 0% 25%;
    }

    figure.calanques img {
        height: 135px;
        object-position: 0% 21%;
    }

    figure.ndgarde img {
        height: 135px;
        object-position: 0% 20%;
    }

    figure.longchamp img {
        height: 135px;
        object-position: 0% 30%;
    }

}