/* ============================ */
/* STYLES PRINCIPAUX DE LA PAGE */
/* ============================ */

/* ---------------------------- */
/*         Page entière         */
/* ---------------------------- */

body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}


/* ---------------------------- */
/*        Listes et liens       */
/* ---------------------------- */

li{
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/* ---------------------------- */
/*     Gestion des couleurs     */
/* ---------------------------- */

.blue, .fas {
    color: #0065FC;
}

.light_blue {
    color: #DEEBFF;
}

.gray {
    color: #C4C2BC;
}

.background_gray {
    color: #F2F2F2;
}

.black {
    color: #000000;
}



/* ============================ */
/*           HEADER             */
/* ============================ */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    display: flex;
}

#header a {
    margin-left: 40px;

}

.accomodations {
    text-decoration: overline;
}

/* ============================ */
/*        CORPS DE PAGE         */
/* ============================ */

/* ---------------------------- */
/*      BLOC 1 : RECHERCHE      */
/* ---------------------------- */

/* ---------------------------- */
/*     BLOC 2 : HEBERGEMENTS    */
/* ---------------------------- */

/* ---------------------------- */
/*      BLOC 3 - ACTIVITES      */
/* ---------------------------- */


/* ============================ */
/*           FOOTER             */
/* ============================ */
#footer {
    display: flex;
    justify-content: space-between;
    background-color:#F2F2F2;
}

#footer div {
    margin: 30px auto 30px 50px; 
}

#footer ul {
    padding-left: 0px;
}

#footer li {
    margin-bottom: 10px;
}